@charset "utf-8";
/* CSS Document by Seeker */
/* lists CSS */
.container{width:100%; background:#efefef;}
.intro_top{ width:100%; border-bottom:1px solid #cbcccc; line-height:30px; color:#777777; font-size:17px; position:relative; margin:0 0 0px 0; overflow:hidden;}
.intro_top .deptimg{float:left; margin:7px 5px 0 0;}
.intro_top_con{display:block; border-bottom:2px solid #00a040;float:left; padding:15px 0 0 15px;}
.list_time{ color:#999; font-size:12px;}
.small_pic_list li{background:#fff;border-top:1px solid #fff;border-bottom:1px solid #ccc; height:80px; overflow:hidden}
.small_pic_list li a{display:block;padding:10px 10px 10px 14px;position:relative; min-height:60px;color:#333}
.small_pic_list li a:active{background-color:#CCC}
.small_pic_list li a h6{font-size:18px; font-weight:bold; overflow:hidden; text-overflow:ellipsis;white-space:nowrap}
.small_pic_list li a p{color:#999; font-size:13px;line-height:22px;}